
/* ============================================================
   TEMA ESCURO (PADRÃO)
   ============================================================ */
:root{
    /* BASE */
    --bg:#0F111A;
    --text:#FFFFFF;
    --text-dim:#FFFFFF;
    --color-dim:#FFFFFF;
    --border_padrao:#2861AB21;

    /* HEADER */
    --glass:#0F111A;

    /* NAVEGAÇÃO */
    --nav_fundo:#0F111A;
    --shadow_nav:#0000006B;

    /* SEARCH */
    --fundo_search:#0F111A;
    --ponteiro_search:#FFFFFF;
    --icone_lupa_search:#FFFFFF;
    --botao_x_search:#FFFFFF;

    /* SIDEBAR */
    --fundo_aba:#0B0D1A;
    --fundo_fecha_aba:#0b1327;
    --hover_btn:#0D163C;
    --hover_btn_:var(--hover_btn);
    --color_icone_fecha:#FFFFFF;
    --shadow_sidebar:#000000;
    --shadow_hover:#00000040;

    /* SOBRE SISTEMA */
    --fundo_botao_sobre:#070d1c;
    --color_sobre:#FFFFFF;
    --icone_sobre:#0074FF;
    --icone_flecha:#0074FF;
    --border_:#0074FF;

    /* TEMA SWITCH */
    --fundo_tema:#070d1c;
    --color_tema:#FFFFFF;
    --icone_tema:#0b1327;
    --icone_lua_tema:#FFFFFF;
    --slider_tema:#1478ff;
    --before_tema:#FFFFFF;
    --checked_tema:#7D7D7DE0;
    --shadow_tema:#000000D9;

    /* AVISO */
    --danger:#FF0000;
    --color_aviso:#FFFFFF;
    /* botão de sim*/
    --color_aviso_sim:#FFFFFF;
    
    
    /* CARDS */
    --fundo_cards:#0B0D1A;
    --shadow_cards:#0000002E;
    --text_titulo_cards:#E7E7E7;

    /* IDS */
    --color_ID:#C8C8C8;
    --fundo_ID:#0B0D1A;
    --hover_color_ID:#FFFFFF;
    --fundo_hover_ID:#0F111A;

    /* 23do = badge novo */
    --color_badge:#FFFFFF;
    --fundo_badge:#0074FF;
    --ion-icon_color:#FFFFFF;

    /* MODAIS */
    --modalfundo:#000000B3;
    --fundo_modais:#0B0D1A;
    --modal-card:#0B0D1A;
    --un-border:#2861AB21;
    --un-text:#FFFFFF;
    --un-accent:#C0F71382;

  /* === [02fj modal padrão] === */
    --fundo_close_modal:#00ABFF;
    
   /*==================*/ 
    /* MODAL HISTÓRICO */
    --overlay_historico:#00000096;
    --fundo_modal_his:#0F111A;
    --color_h2_his:#ff9800;
    --icone_color_his:#ff9800;
    --text_p:#FFFFFF;
    --cancelar_fundo_his:#FF0B0B;
    --color_cancelar_his:#FFFFFF;
    --fundo_limpar_his:#1B7F21;
    --color_limpar_his:#FFFFFF;

    /* BOTÕES */
    --primary:#00ABFF;
    --accent:#00ABFF;
    --success:#23B107;
    --btnbtnfav:#FFFFFF;
    --colorbtn:#FFFFFF;
    --border-btn-fav:#FFFFFF;
    --border-btn-footer:#FFFFFF;
    --accentAV:#FFFFFF;
    --text-dim-texbot:linear-gradient(to right,#00ABFF,#00ABFF);

    /* BOTÃO ATUALIZAÇÕES */
    --openUpdateModal:linear-gradient(135deg,#0074FF,#00ABFF3B);
    --openUpdateModalcolor:#FFFFFF;
    --sobradoopenmodal:#00e5ff;

    /* FAVORITOS */
    --ion-icon-favorito:#00ABFF;

    /* CONTADOR */
    --fundo_contagens:#2861AB21;
    --cortextocontagen:#FFFFFF;

    /* COMPONENTES */
    --surface:var(--fundo_cards);

    /* LAYOUT */
    --radius-md:10px;
}

/* ============================================================
   TEMA CLARO
   ============================================================ */
.light-theme{
    /* BASE */
    --bg:#f4f4f9;
    --text:#121214;
    --text-dim:#555555;
    --color-dim:#000000;
    --border_padrao:#9C9C9C78;

    /* HEADER */
    --glass:#FFFFFF;

    /* NAVEGAÇÃO */
    --nav_fundo:#FFFFFF;
    --shadow_nav:#0000005E;

    /* SEARCH */
    --fundo_search:#FFFFFF;
    --ponteiro_search:#000000;
    --icone_lupa_search:#000000;
    --botao_x_search:#000000;

    /* SIDEBAR */
    --fundo_aba:#FFFFFF;
    --fundo_fecha_aba:#FFFFFF;
    --hover_btn:#FFFFFF;
    --hover_btn_:var(--hover_btn);
    --color_icone_fecha:#000000;
    --shadow_sidebar:#000000A8;
    --shadow_hover:#00000024;

    /* SOBRE SISTEMA */
    --fundo_botao_sobre:#FFFFFF;
    --color_sobre:#000000;
    --icone_sobre:#000000;
    --icone_flecha:#000000;
    --border_:#000000;

    /* TEMA SWITCH */
    --fundo_tema:#FFFFFF;
    --color_tema:#000000;
    --icone_tema:#FFFFFF;
    --icone_lua_tema:#000000;
    --slider_tema:#1478ff;
    --before_tema:#FFFFFF;
    --checked_tema:#7D7D7D52;
    --shadow_tema:#00000033;

    /* AVISO */
    --danger:#FF0000;

    /* CARDS */
    --fundo_cards:#FFFFFF;
    --shadow_cards:#E3E3E3C4;
    --text_titulo_cards:#000000;

    /* IDS */
    --color_ID:#000000;
    --fundo_ID:#FFFFFF;
    --hover_color_ID:#FFFFFF;
    --fundo_hover_ID:#0F111A;

    /*  23do badge novo */
    --color_badge:#000000;
    --fundo_badge:#FFFFFF;
    --ion-icon_color:#000000;

    /* MODAIS */
    --modalfundo:#000000D1;
    --fundo_modais:#FFFFFF;
    --modal-card:#FFFFFF;
    --un-border:#0000001F;
    --un-text:#000000;
    --un-accent:#A4D20E;
    
   /* ===[02fjmodal padrão]=== */
    --fundo_close_modal:#CDCDCD;

   /*==================*/ 
    /* MODAL HISTÓRICO */
    --overlay_historico:#000000D1;
    --fundo_modal_his:#0F111A;
    --color_h2_his:#ff9800;
    --icone_color_his:#ff9800;
    --text_p:#FFFFFF;
    --cancelar_fundo_his:#FF0B0B;
    --color_cancelar_his:#FFFFFF;
    --fundo_limpar_his:#1B7F21;
    --color_limpar_his:#FFFFFF;

    /* BOTÕES */
    --primary:#000000;
    --accent:#000000;
    --success:#23B107;
    --btnbtnfav:#FFFFFF;
    --colorbtn:#FFFFFF;
    --border-btn-fav:#000000;
    --border-btn-footer:#000000;
    --accentAV:#000000;
    --text-dim-texbot:linear-gradient(to right,#000000,#000000);

    /* BOTÃO ATUALIZAÇÕES */
    --openUpdateModal:linear-gradient(135deg,#FFFFFF,#EAEAEA);
    --openUpdateModalcolor:#000000;
    --sobradoopenmodal:#B4B4B4;

    /* FAVORITOS */
    --ion-icon-favorito:#000000;

    /* CONTADOR */
    --fundo_contagens:#3F516921;
    --cortextocontagen:#000000;

    /* COMPONENTES */
    --surface:var(--fundo_cards);

    /* LAYOUT */
    --radius-md:10px;
}
